table{
    border: 6px solid rgb(0, 0, 0);
    background-color: rgb(182, 182, 182);
    border-spacing: 5px ;
}
h1{

}
body{
    background-color: #C0C0C0;
    
}
img{
   scale: 40%;
}
h1{
    color: rgb(54, 53, 53);
    
}
